@{
    ViewBag.Title = "Index";
}
<div class="spacer10"></div>
<script src="~/Scripts/jquery-2.2.2.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<div>
    <button class="=btn btn-success btn-lg" onclick="HRlist()" id="HRTicket">
        Healing Radius Tickets
    </button>

    <button class="=btn btn-primary btn-lg" onclick="TLlist()" id="TLTicket">
        TrucK Logic Tickets
    </button>

</div>

<div id="TicketList"></div>

<script type="text/javascript">

    $(function () {
        HRlist();
    });

    function HRlist() {
        $("#TicketList").load("/Admin/_HealingRadiusTicket");
    }

    function TLlist() {
        $("#TicketList").load("/Admin/_TruckLogicTicket");
    }
</script>